/*
Key	CSS Media Query	Applies	Classname
None	None	Always	.pure-u-*
sm	@media screen and (min-width: 35.5em)	≥ 568px	.pure-u-sm-*
md	@media screen and (min-width: 48em)	≥ 768px	.pure-u-md-*
lg	@media screen and (min-width: 64em)	≥ 1024px	.pure-u-lg-*
xl	@media screen and (min-width: 80em)	≥ 1280px	.pure-u-xl-*
*/

.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  padding: 0 2em;
}

/*
@media only screen and (max-width: 35.5em) {
  .header h1 {
    display: none;
  }
  .header h2 {
  }
}
*/

/* LAYOUT CSS */
/*
figure.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
  figure.pure-img-responsive img {
    width: 100%;
  }
*/


.link-card {
  /* border: slategrey 1px solid; */
}
  .link-card  h2 {
    /* padding: 0 1em; */
    margin: 0;
    margin-top: 0.5em;
  }
  .link-card  ul {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 1.5em;
  }
  .link-card  ul li {
    margin: 0;
  }


/* Table 表示 */
table {
    display: block;
    overflow: auto;
    margin: 1.5em 0;
    border-left: 1px solid #ddd;
    border-collapse: collapse
}

tr:nth-child(odd) {
    background-color: #eee
}

th {
    font-weight: 700;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 10px
}

td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 10px
}